<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
</head>
<body>
    

    <h1>Home Page</h1>

    {% for user in students.values() %}
    <ul>
        <li>User ID: {{user.id}}</li>
        <li>Username: {{user.username}}</li>
        <li>Age: {{user.age}}</li>
    </ul>
    {% endfor %}

    <select name="" id="">
        {% for element in colors %}
        <option value="">{{ element }}</option>
        {% endfor %}
    </select>

</body>
</html>