

<div class="row">
    {% for recipe in related_recipes %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{recipe.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{recipe.title}}</h5>
              <p class="card-text">{{recipe.description}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    {% endfor %}
</div>